<title> MANTENIMIENTO CATEGORIA PRODUCTO </title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
      type= "text/css" />
  
</head>
<body>
   <div class="container my-2">
     <h1>Lista de Productos</h1>
     <a th:href = "@{/nuevoProducto}" class="btn btn-primary btn-sm mb-3">Nuevo Producto</a>
     <br/>
   
     <table border="1" class="table table-atriped table-resonsive-md">
       <thead>
       <tr>
         <th>Id</th>
         <th>Producto</th>
         <th>Marca</th>
         <th>Modelo</th>
         <th>Cantidad</th>
         <th>Categoria</th>
         <th>Costo Almacenaje</th>
         <th>Acciones</th>
       </tr>
       </thead>
       <tbody>
       <tr th:each ="producto : ${listaProducto}">
          <td th:text="${producto.idproducto}"></td>
          <td th:text="${producto.nomproducto}"></td>
          <td th:text="${marcaService.listaMarcaPorId(producto.idmarca).nommarca}"></td>
          <td th:text="${producto.modeloproducto}"></td>
          <td th:text="${producto.cantproducto}"></td>  
          <td th:text="${categoriaService.listaCategoriaProductoPorId(producto.idcategoria).nomcategoria}"></td> 
          <td th:text="${producto.costoalmacenaje}"></td>      
          <td>
            <a th:href = "@{/actualizarProducto/} + ${producto.idproducto} " class="btn btn-primary">Editar</a>
            <a th:href = "@{/eliminarProducto/} + ${producto.idproducto} " class="btn btn-danger">Eliminar</a>
          </td>
       </tr>
       </tbody>
     </table>
     
   </div>
</body>
</html>